---
http_interactions:
- request:
    method: post
    uri: https://p3o4x0ie7q-dsn.algolia.net/1/indexes/uat_money_advice_service/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=where+free+advice"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"url":"https://www.moneyadviceservice.org.uk/blog/free-debt-advice-can-help-ease-money-worries","hostname":"www.moneyadviceservice.org.uk","path":"/blog/free-debt-advice-can-help-ease-money-worries","depth":2,"contentLength":74285,"fileType":"html","title":"Free
        debt advice can help ease money worries","keywords":"debt","description":"Close
        to two thirds of people who received regulated debt advice were repaying the
        money they owed or had repaid in full within three to six months.","type":"article","image":"https://masassets.blob.core.windows.net/blog/files/article/951/hero/resized_couple_worrrying_about_bills_cropped.jpg","headers":["Free
        debt advice can help ease money worries","Relieving the burden","Where to
        get free debt advice","Avoid fee charging debt management firms","Options
        for clearing debts","What do you think?","Footer links"],"objectID":"87ec6f01-3c64-4e7a-afbd-0e46592c027d","_highlightResult":{"url":{"value":"https://www.moneyadviceservice.org.uk/blog/<br>free</br>-debt-<br>advice</br>-can-help-ease-money-worries","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["free","advice"]},"title":{"value":"<br>Free</br>
        debt <br>advice</br> can help ease money worries","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["free","advice"]},"keywords":{"value":"debt","matchLevel":"none","matchedWords":[]},"description":{"value":"Close
        to two thirds of people who received regulated debt <br>advice</br> were repaying
        the money they owed or had repaid in full within three to six months.","matchLevel":"partial","fullyHighlighted":fa[...]
