---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=mortgages"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"hits":[{"title":"Mortgages","description":null,"links":[],"objectID":"/en/categories/mortgages","_highlightResult":{"title":{"value":"<br>Mortgages</br>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["mortgages"]}}},{"title":"Mortgages – a beginner’s guide","description":"Mortgages are a major financial responsibility. Make sure you understand what you are taking on before you commit to one","published_at":"2017-07-27T14:56:05.000Z","objectID":"/en/articles/mortgages-a-beginners-guide","_highlightResult":{"title":{"value":"<br>Mortgages</br> – a beginner’s guide","matchLevel":"full","fullyHighlighted":false,"matchedWords":["mortgages"]},"description":{"value":"<br>Mortgages</br> are a major financial responsibility. Make sure you understand what you are taking on before you commit to one","matchLevel":"full","fullyHighlighted":false,"matchedWords":["mortgages"]},"published_at":{"value":"2017-07-27T14:56:05.000Z","matchLevel":"none","matchedWords":[]}}},{"title":"Homes and mortgages","description":"Everything you need to know about buying a home and choosing the right mortgage","links":[{"id":127,"linkable_type":"Comfy::Cms::Category","linkable_id":96,"text":"How much mortgage can you afford to borrow","url":"/en/tools/house-buying/mortgage-affordability-calculator","locale":"en"},{"id":129,"linkable_type":"Comfy::Cms::Category","linkable_id":96,"text":"Mortgage calculator – work out your monthly payments","url":"/en/tools/mortgage-calculator","locale":"en"},{"id":131,"linkable_type":"Comfy::Cms::Category","linkable_id":96,"text":"Stamp Duty calculator","url":"/en/tools/house-buying/stamp-duty-calculator","locale":"en"},{"id":133,"linkable_type":"Comfy::Cms::Category","linkable_id":96,"text":"First-time buyer guide","url":"/en/articles/first-time-buyer-money-tips","[...]
