---
http_interactions:
- request:
    method: post
    uri: https://p3o4x0ie7q-dsn.algolia.net/1/indexes/uat_money_advice_service/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=mortgages"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"url":"https://www.moneyadviceservice.org.uk/blog/first-time-buyer-the-answers-i-really-wanted","hostname":"www.moneyadviceservice.org.uk","path":"/blog/first-time-buyer-the-answers-i-really-wanted","depth":2,"contentLength":77429,"fileType":"html","title":"First-time
        buyer – the answers I really wanted","keywords":"mortgages","description":"As
        a first-time buyer you probably have a lot of questions. Here are the ones
        you really wanted the answers to. ","type":"article","image":"https://masassets.blob.core.windows.net/blog/files/article/722/hero/resized_couple_painting_home.jpg","headers":["First-time
        buyer – the answers I really wanted","My eight mortgage questions answered","What
        do you think?","Footer links"],"objectID":"fe5a1d97-1e06-4fd1-b5ff-67f5e1f4a724","_highlightResult":{"url":{"value":"https://www.moneyadviceservice.org.uk/blog/first-time-buyer-the-answers-i-really-wanted","matchLevel":"none","matchedWords":[]},"title":{"value":"First-time
        buyer – the answers I really wanted","matchLevel":"none","matchedWords":[]},"keywords":{"value":"<br>mortgages</br>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["mortgages"]},"description":{"value":"As
        a first-time buyer you probably have a lot of questions. Here are the ones
        you really wanted the answers to. ","matchLevel":"none","matchedWords":[]},"headers":[{"value":"First-time
        buyer – the answers I really wanted","matchLevel":"none","matchedWords":[]},{"value":"My
        eight mortgage questions answered","matchLevel":"none","matchedWords":[]},{"value":"What
        do you think?","matchLevel":"none","ma[...]
