---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=algoliaaaaaaaaaaaaaaaaaa"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: |
        {"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"algoliaaaaaaaaaaaaaaaaaa","params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=algoliaaaaaaaaaaaaaaaaaa"}
  recorded_at: Tue, 27 Mar 2018 11:13:07 GMT
recorded_with: VCR 4.0.0
