---
http_interactions:
- request:
    method: post
    uri: https://p3o4x0ie7q-dsn.algolia.net/1/indexes/uat_money_advice_service/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=algoliaaaaaaaaaaaaaaaaaa"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":10,"exhaustiveNbHits":true,"query":"algoliaaaaaaaaaaaaaaaaaa","queryAfterRemoval":"algoliaaaaaaaaaaaaaaaaaa","params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=algoliaaaaaaaaaaaaaaaaaa","processingTimeMS":1}'
  recorded_at: Wed, 09 Sep 2020 13:24:40 GMT
recorded_with: VCR 6.0.0
