---
http_interactions:
- request:
    method: post
    uri: https://p3o4x0ie7q-dsn.algolia.net/1/indexes/uat_money_advice_service/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cbr%3E&highlightPostTag=%3C%2Fbr%3E&page=0&hitsPerPage=10&query=Looking+after+your+dependants+in+retirement"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"url":"https://www.moneyadviceservice.org.uk/en/articles/looking-after-your-dependants-in-retirement","hostname":"www.moneyadviceservice.org.uk","path":"/en/articles/looking-after-your-dependants-in-retirement","depth":3,"contentLength":225302,"fileType":"html","title":"Looking
        after your dependants in retirement - Money Advice Service","description":"How
        to make sure that your partner and/or children will be provided for when you
        retire.","type":"article","image":"https://mascdn.azureedge.net/frontend/a/MAS-logo_social-sharing-ae38c6a25f85e14384af1ddf22614816.png","headers":["Looking
        after your dependants in retirement","Before you retire","When you retire","Buying
        an annuity","Did you find this guide helpful?","Care to share?","Thank you
        for your feedback","Share this article","Related guides","Most read","From
        our blog","More in ''Managing money and planning ahead''","Related guides","Most
        read","From our blog","Pensions and retirement","\n    Web chat","WhatsApp
        Logo\n\n    WhatsApp","\n    Contact Us"],"objectID":"f55a2dde-d0ff-4ccf-9cfa-31827fcc4203","_highlightResult":{"url":{"value":"https://www.moneyadviceservice.org.uk/en/articles/<br>looking</br>-<br>after</br>-<br>your</br>-<br>dependants</br>-<br>in</br>-<br>retirement</br>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["looking","after","your","dependants","in","retirement"]},"title":{"value":"<br>Looking</br>
        <br>after</br> <br>your</br> <br>dependants</br> <br>in</br> <br>retirement</br>
        - Money Advice Service","matchLevel":"full","fullyHighlighted":false,"matchedWords":["looking","after","your","dependants","in","retirement"]},"description":{"value":"How
        to make sure that <br>your</br> partner and/or children will be provided for
        when you retire.","matchLevel":"partial","ful[...]
